h4 {
  margin: 0px 0px 5px 0px ;
}

.card {
    width: 155px;
    height: 205px;
    background-color:#eaeaea;
    margin: 6px;
    padding: 5px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
  }

    
  .age {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .img {
    border-radius: 10px;
  }


  .star {
    width: 25px;
    height: 25px;
  }